.congratulations-block {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}
ion-title {
  color: #387ef5;
  text-align: center;
}

.congratulations-message{
  margin-bottom: 3rem;
}
