<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Aufgabe1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Aufgabe1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Aktuelle Position:</ion-label>
    <ion-note slot="end">{{ location.lat }}, {{ location.lng }}</ion-note>
  </ion-item>

  <ion-item *ngIf="distance !== null && distance > 3">
    <ion-label>Entfernung zum Ziel:</ion-label>
    <h4>{{ distance | number: '1.2-2' }} Meter</h4>
    <div class="distance-indicator">{{ distanceMarkers }}</div>
  </ion-item>

  <div *ngIf="distance !== null && distance < 3" class="congratulations-block">
    <p class="congratulations-message">Herzlichen Glückwunsch, du hast das Ziel erreicht ! </p>
    <ion-button expand="block" (click)="goToExercise2()">
      Aufgabe 2
    </ion-button>
  </div>

  <ion-button *ngIf="distance !== null && distance <= 5" (click)="goToExercise2()">
    Weiter zur Aufgabe 2
  </ion-button>
</ion-content>
