<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Aufgabe 05 <app-cancel style="margin-left: 175px"></app-cancel></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Aufgabe 05 </ion-title>
    </ion-toolbar>
  </ion-header>

  <h2 class="center-text">
    Drehe dein Smartphone:
  </h2>
  <br>
  <h4 *ngIf="!turnedRight" class="center-text">
    nach Rechts
  </h4>
  <h4 *ngIf="turnedRight" class="success center-text">
    nach Rechts
  </h4>

  <br>
  <h4 *ngIf="!turnedLeft" class="center-text">
    nach Links
  </h4>
  <h4 *ngIf="turnedLeft" class="success center-text">
    nach Links
  </h4>

  <div class="center-text margin-top" *ngIf="turnedLeft && turnedRight">
    <p>Herzliche Glückwunsch, du hast die Aufgabe 5 geschafft</p>

    <ion-button expand="block" (click)="goToExercise6()">
      Aufgabe 6
    </ion-button>
  </div>

  <ion-button expand="block" (click)="goToExercise6()">
    Aufgabe 6
  </ion-button>
</ion-content>
