<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Resultat deiner Schnitzeljagd</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="result-list">
    <div class="item">
      <h4>Dein Name: {{name}}</h4>
    </div>
    <div class="item">
      <h4>Deine Zeit: {{time}}</h4>
    </div>
    <div class="item">
      <h4>Anzahl Schnitzel: {{schnitzel}}</h4>
    </div>
    <div class="item">
      <h4>Anzahl Kartoffeln: {{potato}}</h4>
    </div>
  </div>
  <ion-button (click)="goToStartPage()">
    Zurück zum Hauptmenü
  </ion-button>
</ion-content>

