
  <ion-header  [translucent]="true">
    <ion-toolbar>
      <ion-title size="large">Aufgabe 04 <app-cancel style="margin-left: 175px"></app-cancel></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">

  <ion-grid class="ion-text-center ion-margin-top">
    <ion-row>
      <h2>Bitte stecke das Handy an eine Stromquelle an</h2>
      <ion-col size="12">
        <ion-icon *ngIf="isCharging" name='battery-charging' class="battery-icon" color="success"></ion-icon>
        <ion-icon *ngIf="!isCharging" name='battery-dead' class="battery-icon" color="danger"></ion-icon>
        <h2 *ngIf="isCharging"> Glückwunsch du hast die Aufgabe 4 geschafft</h2>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-button *ngIf="isCharging" expand="block" (click)="goToExercise6()">
    Aufgabe 5
  </ion-button>

  <ion-button (click)="goToExercise6()">
    Aufgabe 5
  </ion-button>
</ion-content>
