.ion-icon-green {
  color: green;
  text-align: center;
}
ion-title {
  color: #387ef5;
}
.ion-icon-red {
  color: red;
  text-align: center;
  margin-left: 150px;
}

.battery-icon {
  font-size: 5em;
  margin-left: 150px;
}
