<ion-header>
  <ion-toolbar>
    <ion-title>Berechtigungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="none" class="permission-item">
    <ion-label [class]="cameraPermissionGranted ? 'permission-granted' : ''">Kamera-Zugriff anfordern</ion-label>
    <ion-button fill="clear" slot="end" (click)="requestCameraPermission()">
      Anfordern
    </ion-button>
  </ion-item>

  <ion-item lines="none" class="permission-item">
    <ion-label [class]="locationPermissionGranted ? 'permission-granted' : ''">Standort anfordern</ion-label>
    <ion-button fill="clear" slot="end" (click)="requestGeolocationPermission()">
      Anfordern
    </ion-button>
  </ion-item>

  <div *ngIf="cameraPermissionGranted && locationPermissionGranted" class="ion-padding">
    <ion-button expand="block" (click)="startHunt()">
      Die Jagd starten
    </ion-button>
  </div>
</ion-content>
