<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Aufgabe2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Aufgabe2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-title size="large" style="margin-top: 20px; margin-bottom: 20px; margin-left: 10px; font-weight: bold">Scanne den korrekten QR-Code</ion-title>

  <ion-button *ngIf="!isDone" (click)="scanQRCode()" style="margin-left: 80px">
    QR-Code scannen
  </ion-button>

  <div *ngIf="isDone">
    <h1>Super! Du hast den richtigen QR-Gescannt</h1>
  </div>

  <div *ngIf="wrongQRCode" class="error-message">
    {{ wrongQRCode }}
  </div>

  <ion-label *ngIf="wrongQRCode">{{ wrongQRCode }}</ion-label>

  <ion-button *ngIf="isDone" expand="block" (click)="goToExercise3()">
    Aufgabe 3
  </ion-button>
</ion-content>
