<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Aufgabe 02 <app-cancel style="margin-left: 200px"></app-cancel></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Aufgabe2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button *ngIf="!isDone" (click)="scanQRCode()">
    QR-Code scannen
  </ion-button>

  <div *ngIf="isDone">
    <h1>Glückwunsch, DONE!</h1>
  </div>

  <div *ngIf="wrongQRCode" class="error-message">
    {{ wrongQRCode }}
  </div>

  <ion-label *ngIf="wrongQRCode">{{ wrongQRCode }}</ion-label>

  <ion-button expand="block" (click)="goToExercise3()">
    Aufgabe 3
  </ion-button>
</ion-content>
