.icon-container{
  font-size: 7em;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  flex-wrap: wrap;
  text-align: center;
}

.task-title{
  width: 100%;
  text-align: center;
}

.wlan-button{
  display: flex;
  justify-content: center;
}
