<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Aufgabe 06</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>
  <div class="icon-container">
    <h4 class="task-title">WIFI connection hier: </h4>

    <ion-icon *ngIf="isConnectedToWifi" name="wifi-sharp"/>
  </div>
  <h4 class="task-title" *ngIf="!isConnectedToWifi"> Verbinde dein Handy mit dem WLAN </h4>

  <ion-button class="wlan-button" *ngIf="isConnectedToWifi"> Beenden und Resultate anschauen</ion-button>
<br>
</ion-content>
