.icon-container{
  font-size: 7em;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  flex-wrap: wrap;
}
ion-title {
  color: #387ef5;
}
.task-title{
  width: 100%;
  text-align: center;
}

.wlan-button{
  display: flex;
  justify-content: center;
}
