ion-title {
  color: #387ef5;
  text-align: center;
}
.task-title{
  font-size: x-large ;
}
.task{
  margin-top: 50px;
}

.success{
  color: green;
}
.large-icon{
  font-size: 15rem;
  display: flex;
justify-content: center}
