.walk-text {
  text-align: center;
  margin-top: 3rem;

}

ion-title {
  color: #387ef5;
}
.introduction-text{
  text-align: center;
  margin-top: 3rem;
}

.success-message{
  text-align: center;
  margin-top: 3rem;
}
